h1
{
    margin-bottom: 50px;
    text-align: center;
}
.buttonC
{
    margin: auto auto auto auto;
    text-align: center;
}
button
{
    border: none;
    margin-bottom: 50px;
    padding: 7px 40px 7px 40px;
    border-radius: 12px;
    background-color: burlywood;
    font-size: 15px;
    font-weight: bold;
}
button:hover
{
    background-color: bisque;
}
button:focus
{
   animation-duration: 1s;
   animation-name: buttonAnim;

}
@keyframes buttonAnim
{
    from
    {
        background-color: bisque;
    }
    50%
    {
        background-color: brown;
    }
    100%
    {
        background-color: bisque;
    }
}
