.panel
{
    margin: auto auto auto auto;
    width: 225px;
    background-color: brown;
    display: grid;
    grid-template-columns: 105px 105px;
    grid-column-gap: 10px;
    justify-content: center;
    border-radius: 15px;
}
.first
{
    display: inline;
    margin: 0;
}
.panel div
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: burlywood;
    border-radius: 15px;
}
